.outer_trend{
    margin-top:50px;
    margin-bottom:50px;
    text-align: center;
}

.trend{
    display: block;
    text-align: center;
}


#tbox{
    width:41%;
    display: inline-block;
    text-align: center;
}