	
	.chatting-box{
		padding:10px;
	}
	.chatting-box-outside{
		background-color:#eeeeee;
		border:1px solid;
		padding:25px;
	}
	.chatting-box-inside{
		padding:10px;
		border:1px gray solid;
		background-color: white;
	}